* {
  margin: 40;
  padding: 50;
  font-family: Arial, sans-serif;
}

div {
  margin: 50px;
}

body {
  font-size: 20px;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
}

li {
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 20px;
}

p {
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
}

ul {
  text-align: right;
}

