/*
  This one CSS file is imported into both index.html AND hosono.html so you need to be careful that it 
  works for both.
*/

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  --col-01:#6b118f;
  --col-02:#f6ffef;
  --col-03:#bbfd89;
  --col-04:#b6e878;
  --col-05:#9c00da;
  --col-06:#f8e5ff;
  font-size: 16px;
  /* scroll behaviour makes the <a> links to ids scroll to position over time rather than immediately */
  scroll-behavior: smooth;
}

body{
  padding: 1rem;
}


nav {
  margin-top: 1rem;

}

/* comment */
nav li{
  font-size: 1rem;
  
  /* text-align: center; */
  margin: auto;
}
nav a{
  font-size: 1rem;
  padding:  1.5rem;
  text-align: center;
  margin: auto;
}


section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
  text-align: center;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
  display: inline-flex;
  
}


dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

a :hover {
  color: blue;
}

a :active {
  color: #9c9c9c;
}
a  {
  color:  var(--col-05);
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

#mode-button{
  float: right;
  /* note the use of position: sticky to keep the button on the page even with scrolling */
  position: sticky;
  top: 1rem;
  font-size: 0.6rem;
}

#div-animation-containter {
  margin: auto;
  /* display: flex;
  flex-direction: row; */
}

.div-animation {
  height: 0.5rem;
  width: 0.5rem;
  margin: 2rem;
  display: inline-flex;
  padding: 1rem;
  background-color: #6b118f;
  color: transparent;
  animation: div-anim 4s infinite ease;
}

/* code for loading page */

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:  var(--col-01);
  background-color:  var(--col-02);
}
/* changing button to look like a link */
#load-link{
  line-height: 1rem;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  color:  var(--col-01);
  padding:  0.5rem;
  transition: color 0.2s linear, background-color 0.2s linear, border-radius 0.3s linear;
}
#load-link:hover{
  line-height: 1rem;
  background-color: transparent;
  border-radius: 20px;
  /* border: solid 0.1rem var(--col-05); */
  background-color: var(--col-05);
  cursor: pointer;
  color:  var(--col-02);
  transition: color 0.2s linear, background-color 0.2s linear, border-radius 0.3s linear;
}
/* throbber while page is fake loading */
#load-throbber{
  /* the width, height and background-color give it a shape on the page without any content inside - 
  these value are arbitrary, please change to create your own design  */
  width: 25%;
  height: 1rem;
  background-color: var(--col-03);
  /* we also initially set display to none so it only shows once the link is clicked */
  display: none;
  animation: growBar 10s infinite ease;
}

/* comment */
.header-transition{
  margin: auto;
  background-color: transparent;
  color: var(--col-01);
  border-radius: 5px;
  transition: color 0.4s linear, background-color 0.2s linear, border-radius 0.4s linear;
}

#header-transition-1:hover{
  margin: auto;
  background-color: var(--col-05);
  color: var(--col-02);
  border-radius: 30px;
  transition: color 0.2s linear, background-color 0.2s linear, border-radius 0.4s linear;
  cursor: pointer;
}

#header-transition-1:not(:hover){
  margin: auto;
  background-color: transparent;
  /* transition: background-color 2s ease-out linear; */
}

.body-transition{
  margin: auto;
  background-color: transparent;
  background-color: var(--col-02);
  color: var(--col-01);
  transition: color 0.2s linear, background-color 0.2s linear;
}



@keyframes growBar {
  0% {
    background-color: rgb(178, 178, 255);
    width: 0;
  }
  10% {
    background-color: rgb(206, 255, 132);
  }
  50% {
    background-color: rgb(78, 249, 255);
  }
  100% {
    background-color: var(--col-01);
    width: 500px;
  }
}

@keyframes header-button-animation {
  0% {
    border-radius: 10%;
  }

  100%{
    border-radius: 40%;
  }
}


@keyframes div-anim {
  0% {
    background-color: var(--col-01);
  }
  33% {
    background-color: var(--col-02);
  }
  66% {
    background-color: var(--col-02);
    transform: rotate(45deg);
  }
  100% {
    background-color: var(--col-01);
  }
}

/* Media Queries */

/* medium devices 600 - 992 */
@media only screen and (min-width: 500px) {
  :root{
    font-size: 16px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }
}